*.go
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
env
pre-inst-env
static/graphs/
doc/gwl.info
doc/.dirstamp
doc/stamp-vti
doc/version.texi
gwl/www/config.scm
test-suite.log
tests/processes.log
tests/processes.trs
